table,th,td{ border: 2px ridge #026E81;
background:#A1C7E0;
text-align: center;


}
.공통{
colspan="2";
}


}

.구분{color: black;
width: 200px;

}
.최저{color: red;
width:300px;

}
.권장{color:green;
width:300px;
}
.셀{background: #FF9933;
}
.그래픽카드{
height: 200px;
}
}
body{
  margin: 0px;
}
ol{
  border-right: blue  solid;
  width: 150px;
  margin: 0px;
  padding: 20px;
  height: 100px;
}
  a{color: black;
    text-decoration-line: none;

  }
  h1{text-align:center; font-size:50px;
    border-bottom: solid blue;
    padding:20px;
    margin: 0px;

  }



}
#grid ol{
  padding-left: 36px;

}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;


}
#art{
  padding-left: 97px;

}

@media(max-width:524px){
  #grid{
  display: block;




  }
