

 .목록들{
  height: 400px;
  color: red;
}
a {
  color: red;
  text-decoration-line: none;
}

h1 #이모저모{
color: white;
text-decoration-line: none;

}
#Mainh1{text-align:center; font-size:50px;
 border-bottom: solid blue;
 padding:20px;
 margin: 0px;
 text-decoration-line: none;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6),rgba(0, 0, 0 ,0.1) ), url(LA.png);
background-size: 100% 500%;
background-position: 50% 50%;
background-repeat: no-repeat;
}

body {
  margin: 10px;
}
.container  {
    background-color:#282828;
    border:  solid none;
    color: white;
}
.container {
  display: grid;
  grid-template-rows: 100px repeat(4 ,400px);
  grid-template-columns:180px repeat(4 , 1669px);
}
.item1 {

  text-align: center;
  background-color: white;
border-right: 3px solid blue;
      grid-row-start: 1;
      grid-row-end: 5;

}
.item2{
text-align: center;
      grid-row-start: 1;
      grid-row-end: 3;

}
.Classicon{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
margin-top: 50px;
margin-left: 50px;
}

.class{
  width: 200px;
  height: 200px;
position: 50% 50%;

}


.item3 {

      grid-row-start: 3;
      grid-row-end: 4;

}
.item4 {

      grid-row-start: 4;
      grid-row-end: 5;
