.classSpeach{
  font-size: 25px;
}
.classname{
font-size: 40px;
}

 .목록들{
  height: 400px;
  color: red;
}
a {
  color: red;
  text-decoration-line: none;
}

h1 #이모저모{
color: white;
text-decoration-line: none;

}
#Mainh1{text-align:center; font-size:50px;
 border-bottom: solid blue;
 padding:20px;
 margin: 0px;
 text-decoration-line: none;
background-image:linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6),rgba(0, 0, 0 ,0.1) ), url(LA.png);
background-size: 100% 500%;
background-position: 50% 50%;
background-repeat: no-repeat;
}

body {
  margin: 10px;
}
.container  {
  position: relative;
    background-color:#282828;
    border:  solid none;
    color: white;
}
.container {
  text-align: center;
  display: grid;
  grid-template-rows: 100px repeat(5 ,400px);
  grid-template-columns:180px repeat(5 , 1669px);
}
.item1 {

  background-color: white;
border-right: 3px solid blue;
      grid-row-start: 1;
      grid-row-end: 7;

}

.item2{
      grid-row-start: 1;
      grid-row-end: 3;

}

.Classicon{

  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  margin-top: 50px;
  margin-left: 80px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.item3 {

      grid-row-start: 3;
      grid-row-end: 4;

}
.item4 {

      grid-row-start: 4;
      grid-row-end: 5;
    }
.item5 {

  grid-row-start: 5;
  grid-row-end: 6;

    }
.item6 {

      grid-row-start: 6;
      grid-row-end: 7;
}




.동영상보기 {
  opacity: 0;
  position: absolute;
  float: left;
  color: white;
 font-size: 16px;
 margin-top: 150px;
 margin-left: 128px;
  background-color: #4CAF50;
  padding: 16px 32px;
}

.Classicon:hover {
  opacity: 0.5;
  transition: .5s ease;

}

.동영상보기:hover{
  opacity: 1;
  transition: .5s ease;
}




p {
  margin-left: 600px;
  text-align: justify;

}
